/* VARIABLES----------------------
---------------------------------*/
:root {
    --titleColor: #3c3c3c;
    --textColor: #6a6a6a;
}
/* BODY -----------------
 ------------------------------*/

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    background: url(../pictures/signup.jpg);
    background-size: cover;
}

.signup{
    background:  rgba(43, 43, 33, 0.7);
    padding: 40px;
    width: 250px;
    margin: auto;
    margin-top: 80px;
    height: 700px;
    margin-left: 180px;
    margin: 0 auto;
    margin-top: 90px;
}

form{
    width: 240px;
    text-align: center;
}

input{
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #ffffff;
}

input[type=button]{
    background-color: var(--titleColor);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .5px;
    padding: 15px 25px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color .3s;
}

input[type=button]:hover{
    background-color: var(--textColor);    

}

h2
{
    font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif;
    color: var(--titleColor);
    font-size: 38px;
    line-height: 48px;
}

a{
    color: yellow;
    text-decoration:  blink;
}

a:hover{
    color: rgb(29, 2, 80);
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;

}

::placeholder{               /* Set the color of the placeholser text*/
    color: aliceblue;
    opacity: 0.8; 
}